/* Light Mode */
body {
  background-color: white;
  color: black;
}

.navbar {
  background-color: white;
}

/* Dark Mode */
body.dark-mode {
  background-color: black;
  color: white;
}

.navbar.dark-mode {
  background-color: #333;
  color: white;
}

.nav-link {
  color: black;
}

.navbar.dark-mode .nav-link {
  color: white;
}
